* {
  padding: 0;
  margin: 0;
  font-size: 40px;
}

.box-one {
  background-color: rgb(249, 72, 72);
  padding: 10px;
  height: 100px;
  width: 100px;
  border: 30px solid purple;
  margin: 60px;

  box-sizing: border-box;
}

.box-two {
  background-color: rgb(70, 103, 249);
  border: 30 solid green;
  padding: 10px;
  height: 100px;
  width: 100px;
  margin: 70px;
}

#grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2vw;
}
#grid > div {
  font-size: 5vw;
  padding: 0.5em;
  background: gold;
  text-align: center;
}
